{% extends 'base.html' %}

{% block title %} {{article.title}} {% endblock %}

{% block content%}

<h2>{{ article.title }}</h2>

<p>{{ article.text }}</p>

<em>{{ article.pub_date }}</em>

<hr>
<div class="comments" id="comments">
{% if all_comment %}
    {% for c in all_comment %}
        <div class = "comment_1" name= "comment" value = '{{ c.parent.id }}' >
            <p>

                <em>Комментатор: </em><strong>{{ c.parent.author_name }}</strong>
                <p> {{ c.parent.text }} </p>

                {% if c.child %}

                        {% for x in c.child %}
                            <div class="comment_2" name="comment_2" value="{{ c.parent.id }}+{{ x.parent.id }}"  hidden>

                                <em>Комментатор: </em><strong>{{ x.parent.author_name }}</strong>
                                <p> {{ x.parent.text }} </p>

<!--                                <div answer анадлш-->
                                    {% if x.child %}

                                            {% for y in x.child %}
                                                <div class="comment_3" name="comment_3" value="{{ c.parent.id }}+{{ x.parent.id }}+{{ y.id }}"  hidden >

                                                    <em>Комментатор: </em><strong>{{ y.author_name }}</strong>
                                                    <p> {{ y.text }} </p>
                                                    <div id="answer{{ y.parent.id }}"  hidden>

                                                        <form action='' method="POST">
                                                            {% csrf_token %}

                                                            <input type="text" id="add_name_comment_4_{{ c.parent.id }}+{{ x.parent.id }}+{{ y.id }}" required placeholder="Ваше имя" name="name"><br>
                                                            <textarea  name="text" id='add_text_comment_4_{{ c.parent.id }}+{{ x.parent.id }}+{{ y.id }}' required="" placeholder="Текст комментрия" cols="30" rows="10"></textarea><br>
                                                            <input type="button" id=4 class="sent_button_comment" value="Оставить комментраий" >  </input>
                        <!--                                    <input type="button" class="sent_button_comment" value="Ответить" id = '{{ x.parent.id }}'>  </input>-->

                                                        </form>


                                                    </div>

                                                    <button type="button" class = "answer_button" value="{{ y.parent.id }}" >Ответить</button>
                                                    {% if y.child %}
                                                        <button name="" type="button" class = "answer_show_button" value="4" >Посмотреть ответы</button>
                                                        <button name=""  type="button" class = "answer_close_button" value="4" hidden>Закрыть</button>
                                                    {% endif %}
                                                    <button type="button" class = "cansel_button" value="{{ x.parent.id }}" hidden >Отмена</button>
                                                </div>
                                            {% endfor %}
                                    {% endif %}
                                <div id="answer{{ x.parent.id }}"  hidden>

                                    <form action='' method="POST">
                                        {% csrf_token %}

                                        <input type="text" id="add_name_comment_3_{{ c.parent.id }}+{{ x.parent.id }}" required placeholder="Ваше имя" name="name"><br>
                                        <textarea  name="text" id='add_text_comment_3_{{ c.parent.id }}+{{ x.parent.id }}' required="" placeholder="Текст комментрия" cols="30" rows="10"></textarea><br>
                                        <input type="button" id=3 class="sent_button_comment" value="Оставить комментраий" >  </input>
    <!--                                    <input type="button" class="sent_button_comment" value="Ответить" id = '{{ x.parent.id }}'>  </input>-->

                                    </form>


                                </div>

                                <button type="button" class = "answer_button" value="{{ x.parent.id }}" >Ответить</button>
                                {% if x.child %}
                                    <button name="created"  type="button" class = "answer_show_button" value="3" >Посмотреть ответы</button>
                                    <button name="created"  type="button" class = "answer_close_button" value="3" hidden>Закрыть</button>
                                {% endif %}
                                <button type="button" class = "cansel_button" value="{{ x.parent.id }}" hidden >Отмена</button>

                            </div>
                            <br>
                        {% endfor %}
                {% endif %}
                <div id="answer{{ c.parent.id }}"  hidden>

                    <form action='' method="POST">
                        {% csrf_token %}

                        <input type="text" id="add_name_comment_2_{{ c.parent.id }}" required placeholder="Ваше имя" name="name"><br>
                        <textarea  name="text" id='add_text_comment_2{{ c.parent.id }}' required="" placeholder="Текст комментрия" cols="30" rows="10"></textarea><br>
<!--                        <input type="button" class="sent_button_comment" value="Ответить" id = '{{ c.parent.id }}'>  </input>-->
                        <input type="button" id=2 class="sent_button_comment" value="Оставить комментраий" >  </input>

                    </form>


                </div>

                <button type="button" class = "answer_button" value="{{ c.parent.id }}" >Ответить</button>
                {% if c.child %}
                    <button name="created"  type="button" class = "answer_show_button" value="2" >Посмотреть ответы</button>
                    <button name="created"  type="button" class = "answer_close_button"  value="2" hidden>Закрыть</button>
                {% endif %}
                <button type="button" class="cansel_button" value="{{ c.parent.id }}" hidden >Отмена</button>

            </p>
        </div>
    {% endfor %}
{% else %}
    Комментарии не найдены, станьте первым!
{% endif %}
</div>
<hr>

<div id="add_comment">
    <form action='' method="POST">
        {% csrf_token %}

        <input type="text" id = 'add_name_comment' required placeholder="Ваше имя" name="name"><br>
        <textarea  name="text" id = 'add_text_comment' required="" placeholder="Текст комментрия" cols="30" rows="10"></textarea><br>
        <input type="button" id=1 class="sent_button_comment" value="Оставить комментраий"> </input>

    </form>
</div>


<button type="button" class="answer_button" value="473">Ответить</button>
<!--<button class="answer_button" type="button" value="474">Ответить</button>-->
<button type="button" class="cansel_button" value="473" hidden="">Отмена</button>
<button name="created" type="button" class="answer_show_button" value="4" hidden="">Посмотреть ответы</button> Должен быть внутри
<button name="" type="button" class="answer_close_button" value="4">Закрыть</button>
<button class="answer_button" type="button" value="474">Ответить</button> Должен быть внутри
<button class="answer_close_button" type="button" value="4">Закрыть</button>